body {  
    font-family: 'Poppins', sans-serif;  
    background-color: #f8f9fa;  
    margin: 0;  
    padding: 0;  
}  

.container {  
    max-width: 1080px;  
    margin: 50px auto;  
    background: white;  
    padding: 20px;  
    border-radius: 8px;  
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);  
    overflow: hidden;  
}  

h1, h2 {  
    text-align: center;  
    font-weight: 400;  
    color: #333;  
}  

.input-group {  
    margin-top: 20px;  
}  

label {  
    display: block;  
    margin-bottom: 8px;  
    font-weight: 300;  
    color: #555;  
}  

input {  
    width: 100%;  
    padding: 10px;  
    border: 1px solid #ccc;  
    border-radius: 4px;  
    font-size: 16px;  
}  

.button-group {  
    display: flex;  
    justify-content: space-between;  
    margin-top: 20px;  
}  

button {  
    padding: 10px;  
    width: 48%;  
    background-color: #007BFF;  
    color: white;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    font-size: 16px;  
}  

button:hover {  
    background-color: #0056b3;  
}  

#result, #steps {  
    background: #f1f9ff;  
    border-left: 4px solid #2196F3;  
    padding: 10px;  
    margin-top: 10px;  
    border-radius: 4px;  
}  

.scrollable-table {  
    max-width: 100%;  
    overflow-x: auto;  
    margin-top: 20px;  
}  

table {  
    width: 100%;  
    border-collapse: collapse;  
    text-align: center;  
    font-size: 14px;  
}  

table, th, td {  
    border: 1px solid #ccc;  
}  

th, td {  
    padding: 8px;  
}  

th {  
    background: #007BFF;  
    color: white;  
}  

.highlight {  
    background-color: #ffcc00; /* Highlighted intersection color */  
}